<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body style="margin:0 ;padding:0">





	
<%= image_tag("company/back.jpg", :height=>728,:width=>1838, :crop=>"fill",:position=> "relative")%>


<br><br>
<marquee direction="right" bgcolor="yellow" scrolldelay=1  height=25 vspace=2px><b>Welcome to H<sub>2</sub>o.ai virtual meet </b></marquee>
<!-- <marquee direction = "up">The direction of text will be from bottom to top.</marquee> -->

<div style="padding-left: 50px ;background-color: white">
<p style="text-align: center;"><font color="red" face="Verdana, Geneva, sans-serif" size="+10">A conference for creators like you:</font></p>
<br><br>
<h3><b>Details:</b></h3><br>
<p>
<font  size="+1" >
AI is unlocking new potential for every enterprise. Organizations are using AI and machine learning technology to inform business decisions, predict potential issues, and provide more efficient, customized customer experiences. We will walk through some real use cases we have been a part of across a variety of industries such as finance, retail, and healthcare as well as the impact AI brought to these businesses.
</p>
</font><br><br>
<font  size="+1" >
<b>A few of the companies use cases we will discuss are:</b><br>
<ul  style="list-style-type:disc;padding-left: 20px">
	<li>-AT&T</li>
	<li>-PWC</li>
	<li>-Bill.com</li>
	<li>-G5</li>
</ul></font><br><br>



<div class="row">
  <div class="column" style="float: left; width: 70%;">
  	<p>
	    <font  size="+1" >
H2O.ai is a visionary leader in AI and machine learning and is on a mission to democratize AI for everyone. We believe that every company can become an AI company, not just the AI Superpowers. We are empowering companies with our leading AI and Machine Learning platforms, our expertise, experience and training to embark on their own AI journey to become AI companies themselves. All companies in all industries can participate in this AI Transformation.<br><br>

Tune into this virtual meetup to learn how companies are transforming their business with the power of AI and where to start.
       </font>
    </p>
  </div>
  <div class="column" style="float: left; width: 29%; ">
  	<marquee direction="down" bgcolor="orange" >
        <font color="green">
  		<p style="text-align: center;">Thursday, July 16, 2020<br>
        11:00 AM to 12:00 PM GMT+5:30<br><br>

        Online event
        </p>
        </font>
  	</marquee>
  </div>
</div>
</div>

<br><br><br>
<div>
<center><svg width="7em" height="7em" viewBox="0 0 16 16" class="bi bi-mic" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
  <path fill-rule="evenodd" d="M10 8V3a2 2 0 1 0-4 0v5a2 2 0 1 0 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
</svg></center>  
<br>
<center><b><font size="+2">Our Speakers</font></b></center> 
<br>
<center>

	<p>
<font size="+1">
-<b>Parul Pandey</b>, Data Science Evangelist and Kaggle Grandmaster, H2O.ai<br>
-<b>Shivam Bansal</b>, Senior Data Scientist and Kaggle Grandmaster, H2O.ai
</font>
	</p>
</center>
</div>
<br><br>
<p style="padding-left: 50px"><font size="+1">Attendees</font></p>
<div style="padding-left: 50px">
	<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Swastika</h5>
        <p class="card-text">Member</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Satwiz</h5>
        <p class="card-text">Member</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">vamshi.k</h5>
        <p class="card-text">Member </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chandra shekhar</h5>
        <p class="card-text">organizer</p>
      </div>
    </div>
  </div>
   <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Niharika</h5>
        <p class="card-text">co-organizer</p>
      </div>
    </div>
  </div>
   <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">sai kiran.B</h5>
        <p class="card-text">promoter</p>
      </div>
    </div>
  </div>
</div>
</div>


</body>
</html>

