<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		 body { background: #4d94ff; }

	</style>
</head>
<body>
	
  <center style="padding-top: 50px"><i class="fa fa-microphone fa-5x" aria-hidden="true"></i></center>
	
	<div style="padding-left: 50px;padding-right: 50px" >
		<center><font size="+3" style="color: red">Your speakers Line-up</font> </center>
		<%= image_tag("company/2.png")%>
	<p style="padding-top: 50px"><font size="+2" color="black"><b>Parul Pandey</b></font>&nbsp;&nbsp;<br><br><font size="+1" color="black">follow on: &nbsp;&nbsp;<a href="https://in.linkedin.com/in/parulpandeyindia" style="background: none"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></font>
		<br>
		<a href="https://sites.google.com/view/parul-pandey/home" style="background: none;text-decoration: none"><font color="indigo">www.parulpandey.com</font></a>
<br>
<br>
	<p style="color: green"><b>Bio:</b></p>	
Parul is a Data Science Evangelist here at H2O.ai. She combines Data Science , evangelism and community in her work. Her emphasis is to spread the information about H2O and Driverless AI to as many people as possible, She is also an active writer and has contributed towards various national and international publications.</p>

<br>
<br>

<div style="float: right;">
<%= image_tag("company/1.png")%>
</div>
<br>
<br>
<div>
	 <div style="float: right; padding-right: 30px">
<p><font size="+2" color="black"><b>Shivam Bansal</b></font><br>
Data Scientist at H2O.ai<br>

Singapore</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="float: right;padding-right: 200px">
	<font size="+1" color="black">follow on:</font><br>
<a href="https://twitter.com/shivamshaz" style="background: none"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>&nbsp;
<a href="https://www.linkedin.com/in/shivambansal1/" style="background: none"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>&nbsp;
<a href="https://github.com/shivam5992" style="background: none"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>&nbsp;
<br>
<a href="http://www.shivambansal.com/" style="background: none;text-decoration: none"><font color="indigo">www.shivambansal.com</font></a>
<br>
<a href="https://www.kaggle.com/shivamb" style="background: none;text-decoration: none"><font color="brown"> www.kaggle.com</font></a>
</div>
<br><br>


</p>
<br>
<br>
<div >
<p style="color: green"><b>Bio:</b></p>	
	Masters from National University of Singapore - Business Analytics and Data Science,
	Full Stack Data Scientist with background in Computer Science,<br>
	Worked in Healthcare, Insurance, Retail, and Social Media domains

<br><br>
</div>
</div>
</div>
</body>
</html>



