<!-- Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
	<title>Simple Footer In Html - w3hubs.com</title>
<meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="W3HUBS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="footer.css">
</head>
<body>
   
   <div class="w3hubs-footer">
   	  
   	  <div class="w3hubs-icon">
   	  	<ul>
   	  		<li><a href="https://www.facebook.com/h2oai/" target="black"><i class="fa fa-facebook"></i></a></li>
   	  		<li><a href="https://github.com/h2oai" target="black"><i class="fa fa-github"></i></a></li>
   	  		<li><a href="https://twitter.com/h2oai" target="black"><i class="fa fa-twitter"></i></a></li>
   	  		<li><a href="https://www.instagram.com/h2o.ai/" target="black"><i class="fa fa-instagram"></i></a></li>
   	  		<li><a href="https://www.youtube.com/user/0xdata" target="black"><i class="fa fa-youtube-play"></i></a></li>
   	  	</ul>
   	  </div>
   	  <div class="w3hubs-nav">
   	  	<ul>
   	  		<li><a href="#">About Us</a></li>
   	  		<li><a href="#">The Team</a></li>
   	  		<li><a href="#">News</a></li>
   	  		<li><a href="#">Communities</a></li>
   	  		<li class="p1"><a href="#">Contact Us</a></li>
   	  		

   	  	</ul>
   	  </div>
   	  <div class="w3hubs-nav1">
   	  	<ul>
   	  		<li><a href="#">Resources</a></li>
   	  		<li><a href="#">Documentation</a></li>
   	  		<li><a href="#">Events</a></li>
   	  		<li><a href="#">Webinars</a></li>
   	  		
   	  		
   	  	</ul>
   	  </div>

   	  
   </div>

   <div class="footer-end">
   	  <p>Designed By: <a href="https://www.h2o.ai/">H2O.ai.com</a></p>
   </div>
</body>
</html>